body{
    background-color: aqua;
    width: 100%;
    height: 100vh;
}
header {
    /* height: 200.67vh; */
    display: flex;
    align-items: center;
    padding: 0 110px;
    justify-content: space-between;
    width: 100%;
    height: 7rem;
    background-color: #3347B0;
}
.logo-header {
    width: 10vw;
    gap: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-da-escola {
    font-size: 1.6rem;
    font-weight: 700;
    color: #FFFFFF;;
}

.exit {
    color: #FFFFFF;;
    align-items: center;
    font-size: 2.2rem;
    gap: 12px;
    display: flex;
    flex-direction: row;
}

.text-sair {
    font-weight: 500;
}
