body {
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    padding: 0 110px;
    justify-content: space-between;
    width: 100%;
    height: 7rem;
    background-color: #3347B0;
}

main {
    height: auto;
    width: auto;
}

footer {
    width: 100%;
    height: 17vh;
    display: flex;
    justify-content: space-between;
    padding: 0 96px;
    align-items: center;
    background-color: #3347B0;
    margin-top: 7%;
}

.logo-header {
    width: 10vw;
    gap: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-da-escola {
    font-size: 1.6rem;
    font-weight: 700;
    color: #FFFFFF;
}

.exit {
    color: #FFFFFF;
    align-items: center;
    font-size: 2.2rem;
    gap: 12px;
    display: flex;
    flex-direction: row;
}

.text-sair {
    font-weight: 500;
}

.barra-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 96px;
    height: 50px;
    width: 100%;
    background-color: #BCC2E5;
}

.container-status {
    display: flex;
    gap: 24px;
}

.container-dos-status {
    display: flex;
    gap: 8px;
}

.quadrado-cursando {
    width: 20px;
    height: 20px;
    background-color: #4a69ff;
}

.quadrado-finalizado {
    width: 20px;
    height: 20px;
    background-color:#E5B657;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #3347B0;
}

.dropbtn {
    background-color: #BCC2E5;
    color: #3347B0;
    padding: 12px;
    font-size: 1rem;
    border: none;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #4a69ff;
}

/* -------------------anos-------------- */
.dropdown-anos {
    background-color: #4a69ff;
    position: relative;
    display: inline-block; 
}

.buttom-ano {
    background-color: #BCC2E5;
    color:  #3347B0;
    font-weight: 500;
    padding: 10px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.dropdown-anos:hover .dropdown-anos-disponiveis {
    display: block;
    background-color: #3347B0;
    color: #fff;
    margin-left: 7%;
}

.dropdown-anos-disponiveis {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-anos-disponiveis a {
    color: #ffffff;
    padding: 12px 16px;
    display: block;
    cursor: pointer;
}

/* --------Barra feita ------- */


.container-dos-alunos {
    width: 100%;
    height: 100vh;
}

.titulo-do-curso {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3347B0;
    padding-top: 20px;
}

.container-cards {
    width: 100%;
    height: 100%;
    padding: 70px 4vh 70px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1vh;
    place-items: center;
}

.containerCard {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    background-color: #3347B0;
}

.card-aluno-finalizado {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    background-color: #E5B657;
}

.containerCard:hover {
    transform: scale(1.1);
    transition: .25s;
}

.card-aluno-finalizado:hover {
    transform: scale(1.1);
    transition: .25s;
}

.card-aluno img {
    width: 200px;
    height: 200px;
    padding-bottom: 16px;
}

.p-alunos {
    text-align: center;
    font-weight: 500;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.color-cursando {
    background-color: #3347B0;
}

.color-finalizado {
    background-color: #E5B657;
}


/* --------Conteudos main feitos  ------- */

.container-contatos {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    /* gap: 10px; */
}

.icones {
    display: flex;
    color: #ffffff;
    align-items: center;
    gap: 24px;
    padding: 8px;
}

.icones i {
    font-size: 1.5rem;
}

.copyright {
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff;
}

.redes-sociais-icones {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.social-media-icon {
    height: 48px;
    width: 48px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #ffffff;
    font-size: 1.5rem;
    transition: all .5s;
}

.social-media-icon:hover {
    background-color: #3347B0;
    border: 2px solid #3347B0;
}

.curso-container {
    width: 400px;
    height: 200px;
    background-color: #3347B0;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 12px 12px 4px rgba(51, 71, 176, 0.5);
    transition: .5s;
    cursor: pointer;
}

.curso-container:hover {
    border: 5px solid #f5f5f5;
}


/* RESPONSIVE MOBILE */

@media (max-width:640px) {
    header {
        justify-content: space-around;
        padding: 20px 0;
    }

    .logo-header img {
        height: 65px;
        width: 50px;
    }

    .titulo-da-escola {
        font-size: 1.40rem;
    }

    .exit {
        font-size: 1.5rem;
    }

    .titulo-do-curso {
        font-size: 1.5rem;
        justify-content: center;
        text-align: center;
    }

    .container-status p {
        width: 55px;
    }

    .dropdown {
        display: flex;
        align-items: center;
    }

    .text {
        display: none;
    }

    .container-cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 2%;
    }

    footer {
        flex-direction: column;
        gap: 32px;
        padding: 32px;
        height: auto;
    }

    .copyright {
        width: 375px;
        border-top: 1px solid #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
        font-size: 0.9rem;
        text-align: center;
    }

    .redes-sociais-icones {
        flex-direction: column;
    }
}